In [22]:
import datetime as dt
import pandas as pd
import numpy as np

In [26]:
Stock_Price = pd.read_excel('./Stock Market/FTSE100.xlsx')
Stock_Price

,Date,open,high,low,close,volume,amt,Unnamed: 7,Date.1,open.1,...,volume.98,amt.98,Unnamed: 791,Date.99,open.99,high.99,low.99,close.99,volume.99,amt.99
0,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-04,NaN,...,9495627.0,NaN,NaN,2002-01-04,NaN,8.199733,7.804132,8.199733,1450480.0,NaN
1,2002-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-07,16.134616,...,8881954.0,NaN,NaN,2002-01-07,8.248190,8.284366,8.197543,8.284366,1693495.0,NaN
2,2002-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-08,16.710380,...,10422767.0,NaN,NaN,2002-01-08,8.038269,8.283162,8.038269,8.167918,584212.0,NaN
3,2002-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-09,16.696496,...,12983418.0,NaN,NaN,2002-01-09,8.218706,8.434609,8.175526,8.297871,1106895.0,NaN
4,2002-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-10,17.152393,...,14319971.0,NaN,NaN,2002-01-10,8.223947,8.353345,8.223947,8.324590,701049.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986,2022-07-25,1.974240,2.038154,1.952066,2.020988,10121654.0,3.952900e+06,NaN,2022-07-25,31.771232,...,2427082.0,2.026249e+07,NaN,2022-07-25,32.136832,32.136832,31.729278,31.873120,2412067.0,7.435783e+06
4987,2022-07-26,2.058595,2.068237,2.035695,2.052569,2473412.0,3.610086e+06,NaN,2022-07-26,33.253303,...,3601867.0,2.003964e+07,NaN,2022-07-26,32.132405,32.385511,31.493614,31.541825,375542.0,9.133222e+06
4988,2022-07-27,2.076999,2.084223,2.043285,2.057734,2740564.0,4.446406e+06,NaN,2022-07-27,33.051371,...,5624637.0,1.824438e+07,NaN,2022-07-27,31.835273,32.461383,31.601758,32.208531,1410744.0,1.037480e+07
4989,2022-07-28,2.103865,2.103865,1.837538,1.925098,8893030.0,1.017339e+07,NaN,2022-07-28,34.567846,...,2064480.0,1.387891e+07,NaN,2022-07-28,32.774088,32.774088,31.156666,31.509337,655469.0,1.421824e+07
4990,2022-07-29,1.928014,1.959661,1.870806,1.932883,4916637.0,5.605150e+06,NaN,2022-07-29,35.219117,...,3787957.0,2.650392e+07,NaN,2022-07-29,31.610177,32.182252,31.354569,31.622349,571150.0,1.286016e+07

In [27]:
Stock_Price = Stock_Price.drop(["amt"], axis=1)
Stock_Price

,Date,open,high,low,close,volume,Unnamed: 7,Date.1,open.1,high.1,...,volume.98,amt.98,Unnamed: 791,Date.99,open.99,high.99,low.99,close.99,volume.99,amt.99
0,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-04,NaN,16.428237,...,9495627.0,NaN,NaN,2002-01-04,NaN,8.199733,7.804132,8.199733,1450480.0,NaN
1,2002-01-07,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-07,16.134616,16.916024,...,8881954.0,NaN,NaN,2002-01-07,8.248190,8.284366,8.197543,8.284366,1693495.0,NaN
2,2002-01-08,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-08,16.710380,16.854435,...,10422767.0,NaN,NaN,2002-01-08,8.038269,8.283162,8.038269,8.167918,584212.0,NaN
3,2002-01-09,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-09,16.696496,17.286631,...,12983418.0,NaN,NaN,2002-01-09,8.218706,8.434609,8.175526,8.297871,1106895.0,NaN
4,2002-01-10,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-10,17.152393,17.166770,...,14319971.0,NaN,NaN,2002-01-10,8.223947,8.353345,8.223947,8.324590,701049.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986,2022-07-25,1.974240,2.038154,1.952066,2.020988,10121654.0,NaN,2022-07-25,31.771232,33.059822,...,2427082.0,2.026249e+07,NaN,2022-07-25,32.136832,32.136832,31.729278,31.873120,2412067.0,7.435783e+06
4987,2022-07-26,2.058595,2.068237,2.035695,2.052569,2473412.0,NaN,2022-07-26,33.253303,33.988516,...,3601867.0,2.003964e+07,NaN,2022-07-26,32.132405,32.385511,31.493614,31.541825,375542.0,9.133222e+06
4988,2022-07-27,2.076999,2.084223,2.043285,2.057734,2740564.0,NaN,2022-07-27,33.051371,33.532994,...,5624637.0,1.824438e+07,NaN,2022-07-27,31.835273,32.461383,31.601758,32.208531,1410744.0,1.037480e+07
4989,2022-07-28,2.103865,2.103865,1.837538,1.925098,8893030.0,NaN,2022-07-28,34.567846,35.631940,...,2064480.0,1.387891e+07,NaN,2022-07-28,32.774088,32.774088,31.156666,31.509337,655469.0,1.421824e+07
4990,2022-07-29,1.928014,1.959661,1.870806,1.932883,4916637.0,NaN,2022-07-29,35.219117,36.249923,...,3787957.0,2.650392e+07,NaN,2022-07-29,31.610177,32.182252,31.354569,31.622349,571150.0,1.286016e+07

In [32]:
for i in range(100):
    if i>0:
        print(i)
        Stock_Price = Stock_Price.drop(["amt."+str(i)], axis=1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
Stock_Price

,Date,open,high,low,close,volume,Unnamed: 7,Date.1,open.1,high.1,...,low.98,close.98,volume.98,Unnamed: 791,Date.99,open.99,high.99,low.99,close.99,volume.99
0,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-04,NaN,16.428237,...,10.810701,11.465241,9495627.0,NaN,2002-01-04,NaN,8.199733,7.804132,8.199733,1450480.0
1,2002-01-07,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-07,16.134616,16.916024,...,11.214644,11.706641,8881954.0,NaN,2002-01-07,8.248190,8.284366,8.197543,8.284366,1693495.0
2,2002-01-08,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-08,16.710380,16.854435,...,11.164262,11.221884,10422767.0,NaN,2002-01-08,8.038269,8.283162,8.038269,8.167918,584212.0
3,2002-01-09,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-09,16.696496,17.286631,...,10.852722,10.910297,12983418.0,NaN,2002-01-09,8.218706,8.434609,8.175526,8.297871,1106895.0
4,2002-01-10,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-10,17.152393,17.166770,...,10.344633,10.438087,14319971.0,NaN,2002-01-10,8.223947,8.353345,8.223947,8.324590,701049.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986,2022-07-25,1.974240,2.038154,1.952066,2.020988,10121654.0,NaN,2022-07-25,31.771232,33.059822,...,10.335090,10.428588,2427082.0,NaN,2022-07-25,32.136832,32.136832,31.729278,31.873120,2412067.0
4987,2022-07-26,2.058595,2.068237,2.035695,2.052569,2473412.0,NaN,2022-07-26,33.253303,33.988516,...,10.278513,10.278513,3601867.0,NaN,2022-07-26,32.132405,32.385511,31.493614,31.541825,375542.0
4988,2022-07-27,2.076999,2.084223,2.043285,2.057734,2740564.0,NaN,2022-07-27,33.051371,33.532994,...,10.321179,10.470482,5624637.0,NaN,2022-07-27,31.835273,32.461383,31.601758,32.208531,1410744.0
4989,2022-07-28,2.103865,2.103865,1.837538,1.925098,8893030.0,NaN,2022-07-28,34.567846,35.631940,...,10.519327,10.570403,2064480.0,NaN,2022-07-28,32.774088,32.774088,31.156666,31.509337,655469.0
4990,2022-07-29,1.928014,1.959661,1.870806,1.932883,4916637.0,NaN,2022-07-29,35.219117,36.249923,...,10.662501,10.757441,3787957.0,NaN,2022-07-29,31.610177,32.182252,31.354569,31.622349,571150.0

In [66]:
Stock_Price = Stock_Price.dropna(axis=1,how="all")
Stock_Price

,open,high,low,close,volume,open.1,high.1,low.1,close.1,volume.1,...,open.32,high.32,low.32,close.32,volume.32,open.33,high.33,low.33,close.33,volume.33
0,75.494172,76.293378,75.259329,82.193008,3664.0,36.760990,37.181495,36.093346,36.357698,16760.0,...,31.125977,31.480086,31.125977,31.421068,6310.0,166.357680,170.224604,165.386338,179.786587,13170.0
1,75.457073,75.612768,74.600135,81.134694,3811.0,36.568790,36.704870,35.693463,35.693463,13414.0,...,31.506852,31.506852,31.280052,31.280052,1449.0,168.690385,172.760531,167.587033,181.144352,17659.0
2,75.248786,75.290591,74.756964,81.449595,1676.0,35.816947,38.116215,35.813258,37.971128,16464.0,...,31.657361,31.788923,31.531946,31.568833,921.0,170.785235,171.393865,168.258499,181.095613,7165.0
3,74.611942,76.067248,71.884773,78.090366,12668.0,37.747455,37.911330,36.709173,36.748308,12491.0,...,31.426046,31.569131,30.989455,31.033481,1070.0,169.194595,172.166354,166.082197,177.132279,12670.0
4,72.058202,74.736040,72.058202,80.920675,5858.0,36.759420,38.031394,36.759420,37.839076,12780.0,...,30.484758,31.184647,30.282703,31.184647,1105.0,165.965131,172.964028,165.533026,183.168742,20248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,181.804456,181.804456,179.397530,180.315426,674.0,108.107665,108.189255,107.352951,108.189255,963.0,...,110.912345,110.912345,110.912345,110.912345,0.0,135.032593,135.828102,133.645551,135.093786,596.0
2428,178.905126,178.905126,168.867140,170.195998,2160.0,107.801020,108.618779,107.228589,107.330809,1208.0,...,111.470712,112.952899,111.470712,112.850679,1500.0,134.623501,134.766608,132.619992,134.214621,1272.0
2429,169.887842,169.887842,162.126057,163.443332,3599.0,106.496554,107.590905,102.342074,103.152704,536.0,...,111.259007,111.512329,111.259007,111.512329,0.0,133.450011,133.855326,131.727422,133.855326,3753.0
2430,165.340306,170.665308,165.238294,167.237721,158.0,104.561830,105.398324,101.593294,103.031657,1318.0,...,112.416718,114.354938,112.416718,114.354938,207.0,135.675350,139.041731,134.777648,138.715294,1574.0
2431,168.715680,171.610511,166.636293,171.610511,523.0,105.498265,106.721433,105.253631,106.232166,488.0,...,113.805616,116.150022,113.805616,115.742299,841.0,139.950839,140.929373,137.973383,140.236244,2511.0

In [35]:
Stock_Price.to_csv("FTSE_first.csv",index=False,header=True)

In [64]:
Stock_Price = pd.read_excel('./Stock Market/DAX.xlsx')

In [65]:
Stock_Price

,open,high,low,close,volume,Unnamed: 5,open.1,high.1,low.1,close.1,...,high.32,low.32,close.32,volume.32,Unnamed: 197,open.33,high.33,low.33,close.33,volume.33
0,75.494172,76.293378,75.259329,82.193008,3664.0,NaN,36.760990,37.181495,36.093346,36.357698,...,31.480086,31.125977,31.421068,6310.0,NaN,166.357680,170.224604,165.386338,179.786587,13170.0
1,75.457073,75.612768,74.600135,81.134694,3811.0,NaN,36.568790,36.704870,35.693463,35.693463,...,31.506852,31.280052,31.280052,1449.0,NaN,168.690385,172.760531,167.587033,181.144352,17659.0
2,75.248786,75.290591,74.756964,81.449595,1676.0,NaN,35.816947,38.116215,35.813258,37.971128,...,31.788923,31.531946,31.568833,921.0,NaN,170.785235,171.393865,168.258499,181.095613,7165.0
3,74.611942,76.067248,71.884773,78.090366,12668.0,NaN,37.747455,37.911330,36.709173,36.748308,...,31.569131,30.989455,31.033481,1070.0,NaN,169.194595,172.166354,166.082197,177.132279,12670.0
4,72.058202,74.736040,72.058202,80.920675,5858.0,NaN,36.759420,38.031394,36.759420,37.839076,...,31.184647,30.282703,31.184647,1105.0,NaN,165.965131,172.964028,165.533026,183.168742,20248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,181.804456,181.804456,179.397530,180.315426,674.0,NaN,108.107665,108.189255,107.352951,108.189255,...,110.912345,110.912345,110.912345,0.0,NaN,135.032593,135.828102,133.645551,135.093786,596.0
2428,178.905126,178.905126,168.867140,170.195998,2160.0,NaN,107.801020,108.618779,107.228589,107.330809,...,112.952899,111.470712,112.850679,1500.0,NaN,134.623501,134.766608,132.619992,134.214621,1272.0
2429,169.887842,169.887842,162.126057,163.443332,3599.0,NaN,106.496554,107.590905,102.342074,103.152704,...,111.512329,111.259007,111.512329,0.0,NaN,133.450011,133.855326,131.727422,133.855326,3753.0
2430,165.340306,170.665308,165.238294,167.237721,158.0,NaN,104.561830,105.398324,101.593294,103.031657,...,114.354938,112.416718,114.354938,207.0,NaN,135.675350,139.041731,134.777648,138.715294,1574.0
2431,168.715680,171.610511,166.636293,171.610511,523.0,NaN,105.498265,106.721433,105.253631,106.232166,...,116.150022,113.805616,115.742299,841.0,NaN,139.950839,140.929373,137.973383,140.236244,2511.0

In [70]:
Stock_Price.isnull().values.any()

False

In [71]:
Stock_Price.isnull().any()

open         False
high         False
low          False
close        False
volume       False
             ...
open.33      False
high.33      False
low.33       False
close.33     False
volume.33    False
Length: 170, dtype: bool

In [69]:
Stock_Price = Stock_Price.fillna(method = "ffill")
Stock_Price

,open,high,low,close,volume,open.1,high.1,low.1,close.1,volume.1,...,open.32,high.32,low.32,close.32,volume.32,open.33,high.33,low.33,close.33,volume.33
0,75.494172,76.293378,75.259329,82.193008,3664.0,36.760990,37.181495,36.093346,36.357698,16760.0,...,31.125977,31.480086,31.125977,31.421068,6310.0,166.357680,170.224604,165.386338,179.786587,13170.0
1,75.457073,75.612768,74.600135,81.134694,3811.0,36.568790,36.704870,35.693463,35.693463,13414.0,...,31.506852,31.506852,31.280052,31.280052,1449.0,168.690385,172.760531,167.587033,181.144352,17659.0
2,75.248786,75.290591,74.756964,81.449595,1676.0,35.816947,38.116215,35.813258,37.971128,16464.0,...,31.657361,31.788923,31.531946,31.568833,921.0,170.785235,171.393865,168.258499,181.095613,7165.0
3,74.611942,76.067248,71.884773,78.090366,12668.0,37.747455,37.911330,36.709173,36.748308,12491.0,...,31.426046,31.569131,30.989455,31.033481,1070.0,169.194595,172.166354,166.082197,177.132279,12670.0
4,72.058202,74.736040,72.058202,80.920675,5858.0,36.759420,38.031394,36.759420,37.839076,12780.0,...,30.484758,31.184647,30.282703,31.184647,1105.0,165.965131,172.964028,165.533026,183.168742,20248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,181.804456,181.804456,179.397530,180.315426,674.0,108.107665,108.189255,107.352951,108.189255,963.0,...,110.912345,110.912345,110.912345,110.912345,0.0,135.032593,135.828102,133.645551,135.093786,596.0
2428,178.905126,178.905126,168.867140,170.195998,2160.0,107.801020,108.618779,107.228589,107.330809,1208.0,...,111.470712,112.952899,111.470712,112.850679,1500.0,134.623501,134.766608,132.619992,134.214621,1272.0
2429,169.887842,169.887842,162.126057,163.443332,3599.0,106.496554,107.590905,102.342074,103.152704,536.0,...,111.259007,111.512329,111.259007,111.512329,0.0,133.450011,133.855326,131.727422,133.855326,3753.0
2430,165.340306,170.665308,165.238294,167.237721,158.0,104.561830,105.398324,101.593294,103.031657,1318.0,...,112.416718,114.354938,112.416718,114.354938,207.0,135.675350,139.041731,134.777648,138.715294,1574.0
2431,168.715680,171.610511,166.636293,171.610511,523.0,105.498265,106.721433,105.253631,106.232166,488.0,...,113.805616,116.150022,113.805616,115.742299,841.0,139.950839,140.929373,137.973383,140.236244,2511.0

In [72]:
Stock_Price.to_csv("./Stock Market/DAX_final.csv",index=False,header=True)